<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Get lottery numbers for Cash3, Cash4, Cash4Life, Fantasy Five, Mega Millions, Pick3, Pick4, Pick5, and Powerball with a click of a button." />
    <title>{% block title %}{% endblock %} | Click-Go-Lotto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png" />
    <link rel="manifest" href="/static/favicon/site.webmanifest" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XRHJHKQMM2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-XRHJHKQMM2');
    </script>
</head>

<body>    
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}">Click-Go-Lotto</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#defaultNavbar"
                aria-controls="defaultNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="defaultNavbar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            National Lottery Games
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('mega_millions_game') }}">Mega Millions</a>
                            </li>
                            <li><a class="dropdown-item" href="{{ url_for('powerball_game') }}">Powerball</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            State Lottery Games
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('cash3_game') }}">Cash 3</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('cash4_game') }}">Cash 4</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('cash4life_game') }}">Cash4Life</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('fantasy_five_game') }}">Fantasy Five</a>
                            </li>
                            <li><a class="dropdown-item" href="{{ url_for('pick3_game') }}">Pick 3</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('pick4_game') }}">Pick 4</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('pick5_game') }}">Pick 5</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="content">
        {% block content %}{% endblock %}        
    </main>
    <footer>
        <div class="col contact-info-col">
            <p>Created by <a href="https://brittbot.com" title="My Website" target="_blank">Brittany Gates</a> |
                <a href="https://github.com/BrittanyGates" title="My Github Profile" target="_blank"><i
                        class="bi bi-github"></i></a> |
                <a href="https://www.linkedin.com/in/brittanycgates/" title="My LinkedIn Profile" target="_blank"><i
                        class="bi bi-linkedin"></i></a> |
                <a href="https://x.com/brittany__gates" title="My Twitter Profile" target="_blank"><i
                        class="bi bi-twitter"></i></a> |
                <a href="https://www.youtube.com/c/BrittanyGates" title="My YouTube Channel" target="_blank"><i
                        class="bi bi-youtube"></i></a>
            </p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>    
</body>

</html>