/* GLOBAL STYLES */
body {
  background-image: url(/static/img/logo.jpeg);
  background-repeat: repeat-x;
  background-position: top;
  background-size: 50%;
  background-color: #000;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  background-color: #a19885;
}

.navbar-brand, .nav-link {
  color: #FFF;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #000;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #e9c46a;
}

.site-container {
  margin-top: 35vh;
  background-color: #a19885;
  border-radius: 1.5rem;
  width: 40%;
  padding: 3rem;
}

.site-container, .national, .state {
  display: flex;
  justify-content: center;
  align-items: center;
}

.national {
  margin-right: 2rem;
}

.state {
  margin-left: 2rem;
}

.btn {
  background-color: #000;
  color: #d4cec0;
  border: none;
  font-weight: 700;
}

.btn:hover {
  background-color: #eee9dd;;
  color: #000;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
  background-color: #1b263b;
  color: #FFF;
}

.contact-info-col {
  position: fixed;
  left: 0;
  bottom: 0;
  padding-top: 0.25rem;
  width: 100%;
  font-size: 1rem;
  text-align: center;
  background-color: #a19885;
  color: #000;
}

.contact-info-col a {
  color: #FFF;
  text-decoration: none;
}

.contact-info-col a:hover {
  color: #ecbe44;
  text-decoration: none;
}

/* GAME PAGE STYLES */
.game-container {
  margin-top: 35vh;
  background-color: #a19885;
  border-radius: 1.5rem;
  width: 40%;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-title {
  font-size: 3rem;
  text-align: center;
}

.lotto-num-short, .lotto-num-long {
  font-size: 2.5rem;
  font-weight: 700;
  color: #000;
  text-align: center;
  margin: 2rem 0;
}

/* MOBILE DEVICE STYLES */
/* PHONES */
@media only screen and (max-width: 600px) {
  /* GLOBAL STYLES */
  body {
    background-repeat: repeat;
    background-position: center;
    background-size: 100%;
  }

  .site-container {
    width: 75%;
  }

  .national {
    margin-right: unset;
  }
  
  .state {
    margin-top: 2rem;
    margin-left: unset;
  }

  .btn {
    font-size: 1rem;
    padding: 0.5rem;
  }

  /* GAME PAGE STYLES */
  .game-container {
    margin-top: 20vh;
    width: 85%;
    padding: 0.5rem;
  }
  
  .game-title {
    font-size: 2rem;
  }

  .lotto-num-short {
    font-size: 2.5rem;
    margin: 2rem 0;
  }

  .lotto-num-long {
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  .game-btn {
    margin-bottom: 0.5rem;
  }
}

/* TABLETS */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* GLOBAL STYLES */
  body {
    background-repeat: repeat;
    background-position: center;
    background-size: 100%;
  }

  .site-container {
    width: 75%;
  }

  .btn {
    font-size: 1.25rem;
    padding: 0.5rem;
  }

  /* GAME PAGE STYLES */
  .game-container {
    margin-top: 20vh;
    width: 85%;
    padding: 0.5rem;
  }
  
  .game-title {
    font-size: 2rem;
  }

  .lotto-num-short {
    font-size: 2.5rem;
    margin: 2rem 0;
  }

  .lotto-num-long {
    font-size: 2rem;
    margin: 1rem 0;
  }

  .game-btn {
    margin-bottom: 0.5rem;
  }   
}

/* SMALL LAPTOPS SCREENS */
@media only screen and (min-width: 1023px) and (max-width: 1439px) {
  /* GLOBAL STYLES */
  body {
    background-repeat: repeat;
    background-position: center;
    background-size: 100%;
  }

  .site-container {
    width: 55%;
  }

  .btn {
    font-size: 1.25rem;
    padding: 0.5rem;
  }

  /* GAME PAGE STYLES */
  .game-container {
    margin-top: 20vh;
    width: 55%;
    padding: 0.5rem;
  }

  .game-btn {
    margin-bottom: 0.5rem;
  } 
}

/* MEDIUM LAPTOP SCREENS */
@media only screen and (min-width: 1440px) and (max-width: 1680px) {
  /* GLOBAL STYLES */
  body {
    background-repeat: repeat;
    background-position: center;
    background-size: 100%;
  }
}