/* GLOBAL STYLES */
body {
  background-color: black;
  color: white;
}

/* TITLE CONTAINER */
.title-container {
  padding: 50px 0;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 6rem;
  text-align: center;
}

/* GAME CONTAINER */
.games-container-top, .games-container-bottom {
  text-align: center;
}

.games-container-bottom {
  margin-top: 24px;
}

.card {
  width: 18rem;
}

.card-title {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 1.5rem;
}

/* GAMES */


/* ABOUT CONTAINER */
.about-container {
  position: fixed;
  left: 40%;
  bottom: 0;
  text-align: center;
}

.my-info {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}
