/* GLOBAL STYLES */
body {
  background-image: url("/static/img/background.jpg");
  background-position: top;
  background-color: black;
  color: white;
}

.navbar {
  background-color: #484041;
}

.navbar-brand {
  color: white;
}

.nav-item a {
  color: #FFF4E9;
}

.navbar-brand:hover,
.nav-item a:hover {
  color: #E8DBC5;
}

.navbar-expand-lg .navbar-nav .nav-link.active {
  color: #B185A7;
}

/* TITLE CONTAINER */
.title-container {
  padding: 50px 0;
  background-color: rgba(0, 0, 0, 0.30);
  width: 50%;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 5rem;
  text-align: center;
}

/* GAMES CONTAINER */
.games-container-top,
.games-container-bottom {
  margin-top: 40px;
  text-align: center;
}

.game-img {
  width: 100%;
  border-radius: 1.5rem;
}

/* GAMES */
.game-container {
  margin-top: 275px;
  text-align: center;
}

.individual-game-img {
  width: 75%;
  border-radius: 1.5rem;
}

.lotto-num-col {
  padding-right: 20px;
  margin-top: 75px;
}

.lotto-num {
  font-size: 4rem;
  background-color: rgba(0, 0, 0, 0.35);
  border: white 0.4rem solid;
  border-radius: 1.5rem;
  padding-bottom: 8px;
}

.btn {
  margin-top: 20px;
}

.btn-lg {
  background-color: #484041;
  color: #FFF4E9;
  border: white solid 0.15rem;
  border-radius: 1.5rem;
}

.btn-lg:hover {
  background-color: #FFF4E9;
  color: #484041;
  border-radius: 1.5rem;
  border-color: none;
}

/* ABOUT CONTAINER */
.about-container {
  width: 50%;
  position: fixed;
  bottom: 0;
  left: 25%;
}

.my-info {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  text-align: center;
  color: black;
}

.my-info a {
  color: #5941A9;
}

.my-info a:hover {
  color: #6D72C3;
}

/* MOBILE DEVICE STYLES */

/* SMALL PHONES */
@media only screen and (max-width: 600px) {
  body {
    background-position: top left;
  }

  .title-container {
    padding: 20px 0;
    width: 90%;
  }

  .title {
    font-size: 2.75rem;
  }

  .games-container-top {
    margin-top: 20px;
  }

  .game-img {
    width: 60%;
    margin-top: 20px;
  }

  .game-container {
    margin-top: 200px;
  }

  .individual-game-img {
    width: 80%;
  }

  .lotto-num-col {
    margin-top: 20px;
    padding-left: 20px;
  }

  .lotto-num {
    font-size: 2rem;
    border: white 0.25rem solid;
    padding: 5px 10px 2px 10px;
  }

  .btn {
    margin-bottom: 190px;
  }

  .about-container {
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    padding-top: 20px;
  }

  .my-info {
    font-size: 0.9rem;
  }
}

/* TABLETS */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    background-position: top left;
  }

  .title-container {
    padding: 20px 0;
    width: 90%;
  }

  .title {
    font-size: 3.25rem;
  }

  .games-container-top {
    margin-top: 20px;
  }

  .game-img {
    width: 100%;
    margin-top: 20px;
  }

  .game-container {
    margin-top: 275px;
  }

  .individual-game-img {
    width: 100%;
  }

  .lotto-num-col {
    margin-top: 20px;
    padding-left: 20px;
  }

  .lotto-num {
    font-size: 2rem;
    border: white 0.25rem solid;
    padding: 5px 10px 2px 10px;
  }

  .about-container {
    margin-top: 265px;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    padding-top: 20px;
  }

  .my-info {
    font-size: 1rem;
  }
}

/* LAPTOPS */
@media only screen and (min-width: 1023px) and (max-width: 1439px) {
  body {
    background-position: top right;
  }

  .title-container {
    padding: 20px 0;
    width: 90%;
  }

  .title {
    font-size: 3.25rem;
  }

  .games-container-top {
    margin-top: 20px;
  }

  .game-img {
    width: 100%;
    margin-top: 20px;
  }

  .game-container {
    margin-top: 275px;
  }

  .individual-game-img {
    width: 100%;
  }

  .lotto-num-col {
    margin-top: 50px;
    padding-left: 20px;
  }

  .lotto-num {
    font-size: 3rem;
    border: white 0.25rem solid;
    padding: 5px 10px 2px 10px;
  }
}