{% extends "base.html" %}

{% block title %}Pick4 Lottery Numbers{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('routes.index') }}">Click-Go-Lotto</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#defaultNavbar"
      aria-controls="defaultNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="defaultNavbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('routes.index') }}">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            National Lottery Games
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ url_for('routes.mega_millions_game') }}">Mega
                Millions</a>
            </li>
            <li><a class="dropdown-item" href="{{ url_for('routes.powerball_game') }}">Powerball</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            State Lottery Games
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ url_for('routes.cash3_game') }}">Cash 3</a></li>
            <li><a class="dropdown-item" href="{{ url_for('routes.cash4_game') }}">Cash 4</a></li>
            <li><a class="dropdown-item" href="{{ url_for('routes.cash4life_game') }}">Cash4Life</a>
            </li>
            <li><a class="dropdown-item" href="{{ url_for('routes.fantasy_five_game') }}">Fantasy
                Five</a>
            </li>
            <li><a class="dropdown-item" href="{{ url_for('routes.pick3_game') }}">Pick 3</a>
            </li>
            <li><a class="dropdown-item active" aria-current="page" href="{{ url_for('routes.pick4_game') }}">Pick 4</a>
            </li>
            <li><a class="dropdown-item" href="{{ url_for('routes.pick5_game') }}">Pick 5</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center p-4 game-container">
  <div class="row">
    <div class="col">
      <h1 class="fs-1 text-center game-title">Pick4</h1>
      <h2 class="fs-1 fw-semibold text-center my-4 lotto-num-short">{{ num1 }} - {{ num2 }} - {{ num3 }} - {{ num4 }}</h2>
      <form action="{{ url_for('routes.pick4_game') }}" method="post">
        <button class="btn btn-lg" name="regenerate" type="submit">Click-Go-Lotto Again</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}