{% extends "base.html" %}

{% block title %}Powerball Lottery Numbers{% endblock %}

{% block content %}
<div class="container game-container-with-latest-winning-numbers">
  <div>
    <h1 class="winning-numbers-header">Latest Winning Powerball Numbers</h1>
    <h2 class="date-header">Draw Date: {{ powerball_header }}</h2>
    <p class="winning-numbers">{{ powerball_numbers[0] }} - {{ powerball_numbers[1] }} - {{
      powerball_numbers[2] }} - {{ powerball_numbers[3] }} - {{ powerball_numbers[4] }} | PB {{
      powerball_numbers[5] }}</p>
    <hr>
    <h1 class="powerball-title">Your Random Powerball Numbers</h1>
    <h2 class="powerball-lotto-num">{{ num1 }} - {{ num2 }} - {{ num3 }} - {{ num4}} - {{ num5 }} | PB {{ power_ball }}
    </h2>
    <form action="{{ url_for('routes.powerball_game') }}" method="post">
      <button class="btn btn-lg game-btn" name="regenerate" type="submit"
        onclick="{{ num1 }} {{ num2 }} {{ num3 }} {{ num4 }} {{ num5 }} {{ power_ball }}">Click-Go-Lotto
        Again</button>
    </form>
  </div>
</div>
{% endblock %}