<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="Get lottery numbers for popular games in various states with a click of a button." />
  <title>Click-Go-Lotto</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="/static/css/index.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png" />
  <link rel="manifest" href="/static/favicon/site.webmanifest" />
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-XRHJHKQMM2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-XRHJHKQMM2');
  </script>
</head>

<body>

  <!--
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Click-Go-Lotto</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#defaultNavbar"
        aria-controls="defaultNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="defaultNavbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="games/cash3-pick3.html">Cash 3 / Pick 3</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="games/cash4-pick4.html">Cash 4 / Pick 4</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="games/fantasy-five.html">Fantasy Five</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="games/mega-millions.html">Mega Millions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="games/pick5.html">Pick 5</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="games/powerball.html">Powerball</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
   -->

  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Click-Go-Lotto</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#defaultNavbar"
        aria-controls="defaultNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="defaultNavbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="intro">
        <h1 class="title">Click-Go-Lotto</h1>
      </div>
      <div class="col desktop-social-media mobile-small-social-media mobile-large-social-media">
        <p>Created by <a href="https://bcgates.com">Brittany Gates</a> | <a href="https://github.com/brittbot-bgates"
            title="My Github account" target="_blank"><i class="bi bi-github"></i></a></p>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>