<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Click-Gos lottery numbers for popular games at the click of a button." />
  <title>Click-Go-Lotto</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/static/css/index.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <!-- <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png" />
  <link rel="manifest" href="/static/favicon/site.webmanifest" /> -->
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Click-Go-Lotto</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="games/cash3-pick3.html">Cash 3 / Pick 3</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="games/cash4-pick4.html">Cash 4 / Pick 4</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="games/fantasy-five.html">Fantasy Five</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="games/mega-millions.html">Mega Millions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="games/pick5.html">Pick 5</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="games/powerball.html">Powerball</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container title-container">
    <div class="row">
      <h1 class="title">Click-Go-Lotto</h1>
    </div>
  </div>

  <div class="container games-container-top">
    <div class="row">
      <div class="col">
        <div class="card">
          <img src="static/img/pick3.jpg" class="card-img-top" alt="Pick 3 Logo">
          <div class="card-body">
            <p class="card-title">Cash 3 / Pick 3</p>
            <a href="games/cash3-pick3.html" class="btn btn-primary">Click-Go</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="static/img/pick4.jpg" class="card-img-top" alt="Pick 4 Logo">
          <div class="card-body">
            <p class="card-title">Cash 4 / Pick 4</p>
            <a href="games/cash4-pick4.html" class="btn btn-primary">Click-Go</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="static/img/fantasy_five.jpg" class="card-img-top" alt="Fantasy Five Logo">
          <div class="card-body">
            <p class="card-title">Fantasy Five</p>
            <a href="games/fantasy-five.html" class="btn btn-primary">Click-Go</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container games-container-bottom">
    <div class="row">
      <div class="col">
        <div class="card">
          <img src="static/img/mega_millions.jpg" class="card-img-top" alt="Mega Millions Logo">
          <div class="card-body">
            <p class="card-title">Mega Millions</p>
            <a href="games/mega-millions.html" class="btn btn-primary">Click-Go</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="static/img/pick5.jpg" class="card-img-top" alt="Pick 5 Logo">
          <div class="card-body">
            <p class="card-title">Pick 5</p>
            <a href="games/pick5.html" class="btn btn-primary">Click-Go</a>
          </div>
        </div>
      </div>      
      <div class="col">
        <div class="card">
          <img src="static/img/powerball.jpg" class="card-img-top" alt="Powerball Logo">
          <div class="card-body">
            <p class="card-title">Powerball</p>
            <a href="games/powerball.html" class="btn btn-primary">Click-Go</a>
          </div>
        </div>
      </div>      
    </div>
  </div>


  <div class="col about-container">
    <p class="my-info">Created by <a href="https://bcgates.com" title="My Website" target="_blank">Brittany Gates</a> |
      <a href="mailto:support@bcgates.com">support@bcgates.com</a> |
      <a href="https://github.com/brittbot-bgates" title="My Github Profile" target="_blank"><i
          class="bi bi-github"></i></a> | <a href="https://twitter.com/brittany__gates" title="My Twitter Profile"
        target="_blank"><i class="bi bi-twitter"></i></a>
    </p>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
</body>

</html>